.body{
    background-size: cover;
}

.one{
    border-radius: 0px;
    background-color:  rgb(222, 222, 222) ;
    margin: auto;
    position: absolute;
    height: 70px;
    top: 0px;
    left: 0px;
    width: 100%; 

}
.onea{
    position: absolute;
    left: 220px;
    top: 13px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.oneb{
    position: absolute;
    top: -16px;
    left: 60px;
}
.two{
    border-radius: 0px;
    background: linear-gradient(to top,rgba(0, 0, 0, 1)50%,rgba(0, 0, 0, 1)50%);
    margin: auto;
    position: absolute;
    height: 70px;
    top: 100%;
    left: 0px;
    width: 100%;  
}
.three{
    border-radius: 0px;
    background: linear-gradient(to top,rgb(29, 8, 218)50%,rgb(29, 8, 218)50%);
    margin: auto;
    position: absolute;
    height: 40%;
    top: 9.7%;
    left: 0px;
    width: 100%;
}
.three p{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    position: absolute;
    bottom: 55%;
    left: 10%;

}
.img1{
    
        width: 330px;
        height: 240px;
        background-color:  rgb(222, 222, 222) ;
        border-radius: 20px;
        position: absolute;
        bottom: 35%;
        left: 9%;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
        animation-name: nme;
        animation: nme 1s;
    
    }
    @keyframes nme{
        0%{
            opacity: 0;
            transform: translateY(30px) scale(0.9);
        }
        100%{
            opacity: 1;
            transform:translateY(0px) scale(1);
         }  
       
    
}
.img1 img{
    width: 310px;
    height: 215px;
    border-radius: 5%;
    position: absolute;
    bottom: 5%;
    left: 3%
    
    
}
.info1{
        width: 1256px;
        height: 150px;
        background-color:  rgb(189, 215, 241) ;
        border-radius: 20px;
        position: absolute;
        bottom: -85%;
        left: 0%;
          
}
.img2{
        width: 330px;
        height: 240px;
        background-color:  rgb(222, 222, 222) ;
        border-radius: 20px;
        position: absolute;
        bottom: 35%;
        left: 39.5%;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
        animation-name: nmq;
        animation: nmq 1s;
    
    }
    @keyframes nmq{
        0%{
            opacity: 0;
            transform: translateY(30px) scale(0.9);
        }
        100%{
            opacity: 1;
            transform:translateY(0px) scale(1);
         }  
}
.img2 img{
    width: 310px;
    height: 215px;
    border-radius: 5%;
    position: absolute;
    bottom: 5%;
    left: 3%
    
    
}


.img3{
    width: 330px;
    height: 240px;
    background-color:  rgb(222, 222, 222) ;
    border-radius: 20px;
    position: absolute;
    bottom: 35%;
    left: 70%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    animation-name: nmd;
    animation: nmd 1s;

}
@keyframes nmd{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform:translateY(0px) scale(1);
     }  
}
.img3 img{
    width: 310px;
    height: 215px;
    border-radius: 5%;
    position: absolute;
    bottom: 5%;
    left: 3%
    
    
}




    
    
